# Heart Disease Classification using Tensorflow

## Importing CSV Dataset

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

2024-03-25 17:36:14.907613: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-03-25 17:36:14.907670: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-03-25 17:36:14.909077: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-03-25 17:36:14.915910: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-03-25 17:36:15.845224: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
df = pd.read_csv("Data/heart disease classification dataset.csv")
df.head(10)

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,male,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,yes
1,1,37,male,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,yes
2,2,41,female,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,yes
3,3,56,male,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,yes
4,4,57,female,0,NaN,354.0,0,1,163.0,1,0.6,2,0,2,yes
5,5,57,male,0,140.0,192.0,0,1,148.0,0,0.4,1,0,1,yes
6,6,56,female,1,140.0,294.0,0,0,153.0,0,1.3,1,0,2,yes
7,7,44,male,1,120.0,263.0,0,1,173.0,0,0.0,2,0,3,yes
8,8,52,male,2,172.0,199.0,1,1,162.0,0,0.5,2,0,3,yes
9,9,57,male,2,150.0,168.0,0,1,174.0,0,1.6,2,0,2,yes

In [22]:
## Data Preprocessing

### Changing qualitative data to numerical

In [3]:
# Convert the values to lowercase and map the "sex" column to numeric values
df['sex'] = df['sex'].str.lower().map({'male': 1, 'female': 0})
df.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,1,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,yes
1,1,37,1,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,yes
2,2,41,0,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,yes
3,3,56,1,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,yes
4,4,57,0,0,NaN,354.0,0,1,163.0,1,0.6,2,0,2,yes

In [4]:
# convert the values of target to lower case and map them to numeric values
df['target'] = df['target'].str.lower().map({'yes':1, 'no':0})
df.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,1,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,1
1,1,37,1,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,1
2,2,41,0,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,1
3,3,56,1,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,1
4,4,57,0,0,NaN,354.0,0,1,163.0,1,0.6,2,0,2,1

In [5]:
# Export the data to new dataset
df.to_csv('Data/new heart disease dataset')

In [6]:
# Import the exported dataset
dataset = pd.read_csv('Data/new heart disease dataset')
dataset.head()

,Unnamed: 0.1,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,0,63,1,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,1
1,1,1,37,1,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,1
2,2,2,41,0,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,1
3,3,3,56,1,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,1
4,4,4,57,0,0,NaN,354.0,0,1,163.0,1,0.6,2,0,2,1

In [7]:
# Create the X and y values to trian the model
# Create a list of column names to remove
unnamed_columns = ['Unnamed: 0.1', 'Unnamed: 0']

# Check if the columns exist in the DataFrame before dropping them
dataset = dataset.drop(columns=[col for col in unnamed_columns if col in dataset.columns])
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145.0,233.0,1,0,150.0,0,2.3,0,0,1,1
1,37,1,2,130.0,250.0,0,1,187.0,0,3.5,0,0,2,1
2,41,0,1,130.0,204.0,0,0,172.0,0,1.4,2,0,2,1
3,56,1,1,120.0,236.0,0,1,178.0,0,0.8,2,0,2,1
4,57,0,0,NaN,354.0,0,1,163.0,1,0.6,2,0,2,1

In [8]:
X = dataset.drop(columns=['target'])
X= X.fillna(0)
y = dataset['target']
y = y.fillna(0)

In [9]:
# Create a train and test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [10]:

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.03), input_shape=(13,)))
model.add(tf.keras.layers.Dropout(0.4))
model.add(tf.keras.layers.Dense(128, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.03)))
model.add(tf.keras.layers.Dropout(0.4))
model.add(tf.keras.layers.Dense(64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.03)))
model.add(tf.keras.layers.Dropout(0.4))
model.add(tf.keras.layers.Dense(64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.03)))
model.add(tf.keras.layers.Dropout(0.4))
model.add(tf.keras.layers.Dense(128, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.03)))
model.add(tf.keras.layers.Dropout(0.4))
model.add(tf.keras.layers.Dense(64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.03)))
model.add(tf.keras.layers.Dropout(0.4))
model.add(tf.keras.layers.Dense(1, activation='softmax'))

model.compile(loss=tf.keras.losses.BinaryCrossentropy(), optimizer=tf.keras.optimizers.Adam(learning_rate=0.01), metrics=['accuracy'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                896

 dropout (Dropout)           (None, 64)                0

 dense_1 (Dense)             (None, 128)               8320

 dropout_1 (Dropout)         (None, 128)               0

 dense_2 (Dense)             (None, 64)                8256

 dropout_2 (Dropout)         (None, 64)                0

 dense_3 (Dense)             (None, 64)                4160

 dropout_3 (Dropout)         (None, 64)                0

 dense_4 (Dense)             (None, 128)               8320

 dropout_4 (Dropout)         (None, 128)               0

 dense_5 (Dense)             (None, 64)                8256

 dropout_5 (Dropout)         (None, 64)                0

 dense_6 (Dense)             (None, 1)                 65

=================================================================
Total params: 38273 (149.50 KB)
Trainable params: 38273 (149.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping

# Create the EarlyStopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

# Fit the model to the training data with early stopping
history = model.fit(X_train, y_train, batch_size=10, epochs=100, validation_data=(X_test, y_test), callbacks=[early_stopping])


loss, accuracy = model.evaluate(X_test, y_test)
print("Test loss:", loss)
print("Test accuracy:", accuracy)

Epoch 1/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6886 - accuracy: 0.5496 - val_loss: 0.6938 - val_accuracy: 0.5246
Epoch 2/100
25/25 [==============================] - 0s 3ms/step - loss: 0.6885 - accuracy: 0.5496 - val_loss: 0.6943 - val_accuracy: 0.5246
Epoch 3/100
25/25 [==============================] - 0s 3ms/step - loss: 0.6887 - accuracy: 0.5496 - val_loss: 0.6942 - val_accuracy: 0.5246
Epoch 4/100
25/25 [==============================] - 0s 3ms/step - loss: 0.6891 - accuracy: 0.5496 - val_loss: 0.6944 - val_accuracy: 0.5246
Epoch 5/100
25/25 [==============================] - 0s 3ms/step - loss: 0.6888 - accuracy: 0.5496 - val_loss: 0.6952 - val_accuracy: 0.5246
Epoch 6/100
25/25 [==============================] - 0s 4ms/step - loss: 0.6889 - accuracy: 0.5496 - val_loss: 0.6945 - val_accuracy: 0.5246
2/2 [==============================] - 0s 3ms/step - loss: 0.6938 - accuracy: 0.5246
Test loss: 0.6937971115112305
Test accuracy: 0.5245901346206665

# Using Machine learning models

## Using Decision Trees

In [17]:


import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, log_loss


X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

imputer = SimpleImputer()
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

clf = DecisionTreeClassifier()

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
loss = log_loss(y_test, y_pred)


print(f'Accuracy: {accuracy}')
print(f'Loss: {loss}')

Accuracy: 0.819672131147541
Loss: 6.499675201316208

## Using Random Forest

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, log_loss


X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


imputer = SimpleImputer()
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)


clf = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=42)


clf.fit(X_train, y_train)


y_pred = clf.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
loss = log_loss(y_test, y_pred)

# Print the accuracy and loss of the model
print(f'Accuracy: {accuracy}')
print(f'Loss: {loss}')

Accuracy: 0.8524590163934426
Loss: 5.31791607380417

In [20]:
### Random Forest With Tuned hyperparameters

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, log_loss


# Split the dataset into input (X) and output (y) variables
X = dataset.iloc[:, :-1].values
# X = X.fillna(0)
y = dataset.iloc[:, -1].values
# y = y.fillna(0)


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


clf = RandomForestClassifier()

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}


grid_search = GridSearchCV(clf, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)


print(f'Best hyperparameters: {grid_search.best_params_}')

clf = RandomForestClassifier(**grid_search.best_params_)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
loss = log_loss(y_test, y_pred)

# Print the accuracy and loss of the model
print(f'Accuracy: {accuracy}')
print(f'Loss: {loss}')

Best hyperparameters: {'max_depth': 20, 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 50}
Accuracy: 0.8688524590163934
Loss: 4.727036510048151

In [ ]:
## Logistic Regression Algorithm

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, log_loss


X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

imputer = SimpleImputer()
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

clf = LogisticRegression()

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
loss = log_loss(y_test, y_pred)

# Print the accuracy and loss of the model
print(f'Accuracy: {accuracy}')
print(f'Loss: {loss}')

Accuracy: 0.8360655737704918
Loss: 5.908795637560188